.Spinner {
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: opacity 400ms;
   opacity: 0;
   & img {
      animation: spin 1s ease-in-out infinite ;
      width: 20vw;
      height: auto;
   }
}

@keyframes spin {
   0% {
      transform: rotate(0deg)
   }
   100% {
      transform: rotate(360deg)
   }
}